
@{
    Layout = "_Layout";
}


<form>
    <h3>Agregar nueva raza de perro</h3>
    <label>Nombre:</label>
    <input type="text" />
    <label>Descripcion:</label>
    <textarea cols="80" rows="5"></textarea>
    <label>Otros nombres:</label>
    <input type="text" />
    <label>Pais:</label>
    <select>
        <option>Seleccione un país</option>
    </select><br />
    <label>Peso minimo:</label>
    <input type="number" />
    <label>Peso maximo:</label>
    <input type="number" />
    <label>Altura minima:</label>
    <input type="number" />
    <label>Altura Maxima:</label>
    <input type="number" />
    <label>Esperanza de vida:</label>
    <input type="number" />
    <input type="file" accept="image/jpg" onchange="mostrarImagen(this)" />
    <img id="imagePreview" src="~/imgs_perros/NoPhoto.jpg" alt="Vista previa de la imagen" />

    <label id="error">
        @Html.ValidationSummary()
    </label>

    <div class="botones">
        <input class="btnSumbit" type="submit" value="Agregar" />
        <input class="btnCancelar" type="button" value="Cancelar" />
    </div>

</form>




<script>
    function mostrarImagen(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById("imagePreview").src = e.target.result;
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

</script>