
@{
    Layout = "_Layout";
}

<h1>Agregar nueva raza de perro</h1>

<form>
    <label>Nombre:</label>
    <input type="text" />
    <label>Descripcion:</label>
    <textarea cols="30" rows="5"></textarea>
    <label>Otros nombres:</label>
    <input type="text" />
    <label>Pais:</label>
    <select>
        <option>Seleccione un país</option>
    </select>
    <label>Peso minimo:</label>
    <input type="number" />
    <label>Peso maximo:</label>
    <input type="number" />
    <label>Altura minima:</label>
    <input type="number" />
    <label>Altura Maxima:</label>
    <input type="number" />
    <label>Esperanza de vida:</label>
    <input type="number" />

</form>

