
@{
    Layout = "_Layout";
}


<form enctype="multipart/form-data">
    <input type="hidden" />
    <label>Nombre:</label>
    <input type="text" required="required" />
    <label>Descripcion:</label>
    <textarea cols="30" rows="5"></textarea>
    <label>Otros nombres:</label>
    <input type="text" />
    <label>Pais:</label>
    <select>
        <option>Seleccione un país</option>
    </select>
    <label>Peso minimo:</label>
    <input type="number" />
    <label>Peso maximo:</label>
    <input type="number" />
    <label>Altura minima:</label>
    <input type="number" />
    <label>Altura Maxima:</label>
    <input type="number" />
    <label>Esperanza de vida:</label>
    <input type="number" />
    <label>Imagen:</label>
    <input type="file" accept="image/jpg" onchange="mostrarImagen(this)" />
    <img id="imagePreview" src="~/imgs_perros/0_0.jpg" alt="Vista previa de la imagen" />

    <label id="error">
        @Html.ValidationSummary()
    </label>

    <div id="botones">
        <input class="btnSumbit" type="submit" value="Guardar" />
        <a asp-action="Index" asp-controller="Home" asp-area="Admin" class="btnCancelar">
            <input  type="button" value="Cancelar"  formnovalidate="formnovalidate" />
        </a>
    </div>

</form>

<script>
    function mostrarImagen(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById("imagePreview").src = e.target.result;
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

</script>

