@model RazasPerros.Models.ViewModels.RazaAdminViewModel

@{
    Layout = "_Layout";
}

<form enctype="multipart/form-data" asp-area="Admin" asp-controller="Home" asp-action="Editar" method="post">
    <h3>Editar raza de perro</h3>
    <input asp-for="Raza.Id" hidden/>
    <label>Nombre:</label>
    <input type="text" asp-for="Raza.Nombre" required />
    <label>Descripcion:</label>
    <textarea cols="80" asp-for="Raza.Descripcion" required rows="5"></textarea>
    <label>Otros nombres:</label>
    <input type="text" asp-for="Raza.OtrosNombres" required />
    <label>Pais:</label>
    <select asp-for="Raza.IdPais" asp-items="@(new SelectList(Model.Paises,"Id","Nombre"))">
        <option>Seleccione un país</option>
    </select><br />
    <label>Peso minimo:</label>
    <input type="number" asp-for="Raza.PesoMin" required />
    <label>Peso maximo:</label>
    <input type="number" asp-for="Raza.PesoMax" required />
    <label>Altura minima:</label>
    <input type="number" asp-for="Raza.AlturaMin" required />
    <label>Altura Maxima:</label>
    <input type="number" asp-for="Raza.AlturaMax" required />
    <label>Esperanza de vida:</label>
    <input type="number" asp-for="Raza.EsperanzaVida" required />

    <h4>Estadisticas</h4>
    <label>Nivel de energía:</label>
    <input type="number" max="10" min="0" asp-for="Raza.Estadisticasraza.NivelEnergia" required />
    <label>Facilidad de entrenamiento:</label>
    <input type="number" max="10" min="0" asp-for="Raza.Estadisticasraza.FacilidadEntrenamiento" required />
    <label>Ejercicio obligatorio:</label>
    <input type="number" max="10" min="0" asp-for="Raza.Estadisticasraza.EjercicioObligatorio" required />
    <label>Amistad con desconocidos:</label>
    <input type="number" max="10" min="0" asp-for="Raza.Estadisticasraza.AmistadDesconocidos" required />
    <label>Amistad con perros:</label>
    <input type="number" max="10" min="0" asp-for="Raza.Estadisticasraza.AmistadPerros" required />
    <label>Necesidad de cepillado:</label>
    <input type="number" max="10" min="0" asp-for="Raza.Estadisticasraza.NecesidadCepillado" required />

    <h4>Caracteristicas Fisicas</h4>
    <label>Patas:</label>
    <input type="text" asp-for="Raza.Caracteristicasfisicas.Patas" required />
    <label>Cola:</label>
    <input type="text" asp-for="Raza.Caracteristicasfisicas.Cola" required />
    <label>Hocico:</label>
    <input type="text" asp-for="Raza.Caracteristicasfisicas.Hocico" required />
    <label>Pelo:</label>
    <input type="text" asp-for="Raza.Caracteristicasfisicas.Pelo" required />
    <label>Color:</label>
    <input type="text" asp-for="Raza.Caracteristicasfisicas.Color" required />

    <input type="file" accept="image/jpg" asp-for="Archivo" onchange="mostrarImagen(this)" />
    <img id="imagePreview" src="~/imgs_perros/@Model.Imagen" alt="Vista previa de la imagen" />

    <label id="error">
        @Html.ValidationSummary()
    </label>

    <div class="botones">
        <input class="btnSumbit" type="submit" value="Guardar" />
        <a href="~/Admin/Home">
            <input type="button" value="Cancelar" />
        </a>

    </div>
</form>




<script>
    function mostrarImagen(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById("imagePreview").src = e.target.result;
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

</script>

