
@{
    Layout = "_Layout";
}

<form>
    <h3>Eliminar raza de perro</h3>
    <label>Raza</label>
    <input type="hidden" />
    <input type="text" readonly />

    <div class="botones">
        <input class="btnSumbit" type="submit" value="Confirmar" />
        <input class="btnCancelar" type="button" value="Cancelar" />
    </div>
</form>

