@model RazasPerros.Models.Razas
@{
    Layout = "_Layout";
}

<form  asp-area="Admin" asp-controller="Home" asp-action="Eliminar" method="post">
    <h3>Eliminar raza de perro</h3>
    <label>Raza</label>
    <label type="hidden" asp-for="Id"/>
    <input type="text" asp-for="Nombre" readonly />

    <div class="botones">
        <input class="btnSumbit" type="submit" value="Eliminar" />
        <a href="~/Admin/Home">
            <input type="button" value="Cancelar" />
        </a>

    </div>
</form>

